.dot {
  border-radius: 50%;
  border: 1px solid black;
  background: #4fa6df;
  height: 20px;
  width: 20px;
  transform: translate(-10px, -10px);
}

.event {
  position: relative;
}

.info {
  border: 1px solid black;
  background: white;
  padding: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
}

.title {
  font-size: large;
  font-weight: bold;
}
